<ng-container *ngIf="vm$ | async as vm">
	
    <h1>Create To Do</h1>

    <form [formGroup]="form">

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <div *ngIf="form.value.toDoId">
            <mat-checkbox formControlName="complete">Complete</mat-checkbox>
        </div>
    </form>

    <div class="app-actions">
        <button mat-raised-button (click)="save(form.value)">Save</button>
    </div>
	
</ng-container>
