@inherits LayoutComponentBase

<PageTitle>Over Engineered To Do List</PageTitle>

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    public int ToDosCount { get; set;} = 0;

     protected override void OnInitialized()
    {
        ToDosCount = 1;
     }
}
