@inherits LayoutComponentBase

<PageTitle>OverEngineeredToDoList.BlazorApp</PageTitle>

<CascadingValue Value="this">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    public int ToDosCount { get; set;} = 0;

     protected override void OnInitialized()
    {
        ToDosCount = 1;
     }
}
