<h1>To Do List</h1>

<ng-container *ngIf="vm$ | async as vm">

	<button mat-raised-button (click)="addOrUpdate()">Create</button>
	
	<mat-table [dataSource]="vm.dataSource" class="mat-elevation-z8 app-table">

        <ng-container matColumnDef="name">
                <mat-header-cell class="app-header-cell" *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let toDo">{{ toDo.name }}</mat-cell>
        </ng-container>

		<ng-container matColumnDef="complete">
			<mat-header-cell class="app-header-cell" *matHeaderCellDef>Complete</mat-header-cell>
			<mat-cell *matCellDef="let toDo">{{ toDo.complete }}</mat-cell>
		</ng-container>
                  
        <ng-container matColumnDef="actions">
                <mat-header-cell class="app-header-cell" *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let toDo">
					<button mat-icon-button (click)="addOrUpdate(toDo)">
						<mat-icon>edit</mat-icon>
					</button>

					<button mat-icon-button (click)="delete(toDo)">
						<mat-icon>delete</mat-icon>
					</button>
                </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>

</ng-container>
