@use 'src/scss/breakpoints';

:host {

    display: block;
    box-sizing: border-box;
    padding: 60px;

    .app-table {    
        margin: 30px 0;    
        .mat-header-row,
        .mat-row {
            display: grid;
            grid-template-columns: 1fr 1fr 100px;
        }
    }
}


@media screen and (min-width: breakpoints.$screen-sm) { 

}

@media screen and (min-width: breakpoints.$screen-md) { 

}

@media screen and (min-width: breakpoints.$screen-lg) { 

}

@media screen and (min-width: breakpoints.$screen-md) { 

}
